* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 f��r Blockelemente  */

header, footer, section, aside, nav, article {
	display: block;
}

body {
	background-color: #D3D3D3;
	font-size: 0.95em;
	font-family: Arial, SunSans-Regular, Sans-Serif;
	color: #000000;
}
div#main {
	overflow: scroll;
	height: inherit;
	max-height: 600px;
}
pre, code {
	font-size: 1.3em;
}
a {
	color: #DB7093;
}
a:visited {
	color: #DB7093;
}
a:hover {
	color: #564b47;
}
a:active {
	color: #000000;
}

h1, h2 {
	font-size: 1.8em;
	font-weight: normal;
	margin: 0 0 20px;
}

/* ----------container zentriert das layout-------------- */

#container {
	max-width: 1200px;
	min-width: 960px;
	margin: 10px auto;
	background-color: #F5F5F5;
}
/* ---------------- Hier werden die Files abgelegt --------*/
#filedrag {
	max-width: 90%;
	min-width: 10%;
	max-height: 300px;
	min-height: 150px;
	background-color: lightblue;
	border: black;
	border-width: 10px;
	border-style: inherit;
	border-radius: 10px;
	text-align: center;
	font-size: x-large;
	font-style: oblique;
	color: whitesmoke;
	align-self: center;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
#dropspan {
	min-height: 50px;
	margin-top: 20px;
	position: inherit;
	align-content: center;
	cursor: crosshair;
}

/* ---------------- Fuer Datenbank-Output --------------------- */
#dbOutput {
	min-height: 10%;
	min-width: 20%;
	max-height: 50%;
	max-width: 75%;
	width: 75%;
	height: 20%;
	position: inherit;
	margin-top: 0.5em;
	background-color: lightgrey;
	font-size: larger;
}
#textOutput {
	min-height: inherit;
	min-width: inherit;
	max-height: 100%;
	max-width: 100%;
	font-family: monospace;
	font-variant: normal;
	text-indent: 5px;
	background-color: black;
	color: darkturquoise;
}
#my_iframe {
	border: none;
}
/* ----------header fÜr Logo-------------- */

header {

	padding: 10px;
	background: #FAFAFA;
}

header p {
	text-transform: uppercase;
	font-size: 11px;
}
header img {
	width: 100%;
	padding: 0 0 10px;
}

/* -------------- Navigavtion------------- */

nav {
	font-size: 16px;
	background: #F5F5F5;
	color: #fff;
}

/* ----------------- content--------------------- */

section#content {
	position: inherit;
	float: left;
	margin-top:1%;
	width: 75%;
	padding: 60px;
	background-color: #fff;
	min-height: 30%;
	max-height: 800px;
}
form#upload {
	min-height: 20%;
	min-width: 20%;
	max-height: 280px;
	max-width: 100%;
}
p, pre {
	padding: 0 0 20px;
	line-height: 1.5em;
}
#output > table {
border: aliceblue;
border-width: thin;
}

/* -------------- aside ------------- */

aside {

	background-color: #F5F5F5;
	padding: 10px;
	float: right;
	width: 25%;
}

/* -----------footer--------------------------- */
footer {
	margin: 0, 0, 50, 60;
	padding: 10px;
	clear: both;
	background-color: #F5F5F5;
	color: #000000;
}


/* -----------footer--------------------------- */

.linie2 {
	width:87%;
	padding:20px;
	border :none;
	border-top:  1px dotted #000000;
	background-color:#FFFFFF;
	height: 1px;
	margin: 0px 80px 0px 50px;
}	

.linie3 {
	width:60%;
	padding:20px;
	border :none;
	border-top:  1px dotted #000000;
	height: 1px;
	margin: 0px 80px 0px 50px;
}	

/*----------------aside------------------*/

#side {
	background: #F5F5F5;
	margin-bottom: 10px;
	padding: 5px;
	border-width:1px;
	border-color:#000000;
}

#side li {
	display: inline;
	margin-left: 10px;
	color: #000000;
}

#side a {
	color: #000000;
	text-decoration: none;
}

#side a:hover {
	text-decoration: underline;
}
