* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 f��r Blockelemente  */

header, footer, section, aside, nav, article {
	display: block;
}

body {
	background-color: #D3D3D3;
	font-size: 0.95em;
	font-family: Arial, SunSans-Regular, Sans-Serif;
	color: #000000;
}
pre, code {
	font-size: 1.3em;
}
a {
	color: #DB7093;
}
a:visited {
	color: #DB7093;
}
a:hover {
	color: #564b47;
}
a:active {
	color: #000000;
}

h1, h2 {
	font-size: 1.8em;
	font-weight: normal;
	margin: 0 0 20px;
}

img.download {
	vertical-align: middle;
}
img {
	border: none;
}

/* ----------container zentriert das layout-------------- */

#container {
	max-width: 1200px;
	min-width: 960px;
	margin: 10px auto;
	background-color: #F5F5F5;
}
#filedrag {
	max-width: 90%;
	min-width: 10%;
	max-height: 300px;
	min-height: 150px;
	background-color: lightblue;
	border: black;
	border-width: 10px;
	border-style: inherit;
	border-radius: 10px;
	text-align: center;
	font-size: x-large;
	font-style: oblique;
	color: whitesmoke;
	align-self: center;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}
#dropspan {
	min-height: 50px;
	margin-top: 20px;
	position: inherit;
	align-content: center;
	cursor: crosshair;
}

/* ----------header f��r Logo-------------- */
header {

	padding: 10px;
	background: #FAFAFA;
}

header p {
	text-transform: uppercase;
	font-size: 11px;
}
header img {
	width: 100%;
	padding: 0 0 20px;
}

/* -------------- Navigavtion------------- */

nav {
	font-size: 16px;
	background: #F5F5F5;
	color: #fff;
}

/* ----------------- content--------------------- */

section#content {
	position: inherit;
	float: left;
	margin-top:1%;
	width: 75%;
	padding: 60px;
	background-color: #fff;
	min-height: 600px;
}
p, pre {
	padding: 0 0 20px;
	line-height: 1.5em;
}

/* -------------- side infos ------------- */

aside {

	background-color: #F5F5F5;
	padding: 20px;
	float: right;
	width: 25%;
}

/* -----------footer--------------------------- */
footer {
	margin: 0, 0, 50, 60;
	padding: 20px;
	clear: both;
	background-color: #F5F5F5;
	color: #000000;
}

/*------------------Bilder----------------------*/

.DNABild {
	float: left;
	margin: 0px 15px 15px 15px;
	border: 1px solid #666666;
	padding: 2px;
}
/* -----------footer--------------------------- */

