/* DATEI: selfhtml.css */

/* Wenn die Schriftgroessen von SELFHTML fuer Sie schwer lesbar sind */
/* und Sie SELFHTML lokal lesen, benennen Sie diese Datei */
/* um in selfnormal.css */
/* und benennen Sie die Datei selfnosize.css im src-Verzeichnis */
/* um in selfhtml.css */



h1,h2,h3,h4,p,ul,ol,li,div,td,th,address,blockquote,nobr,b,i {
 font-family:Helvetica, Arial, "Franklin Gothic Medium", sans-serif;}

h1 { font-size:26px; margin-bottom:18px; }

h2 { font-size:21px; margin-bottom:18px; }

h2.sh2 { font-size:21px; }

h3,h3.xmp,h3.xpl,h3.inf,h3.tip,h3.akt { font-size:16px; }

h4 { font-size:13px; }

p,ul,ol,li,div,td,th,address,blockquote { font-size:13px; }

li { margin-top:3px; }

pre { font-family:Courier New,Courier; font-size:13px; color:#0000C0; }

code,kbd,tt { font-family:Courier New,Courier; color:#0000C0; }

var { font-style:normal; color:#0000C0; }

blockquote,cite { font-style:italic; }



div#itsthetable{
	font-family:		Helvetica, Arial, "Franklin Gothic Medium", sans-serif;
}

table{
	border-collapse: collapse;
	text-align:left;
}
caption{
	text-transform:		uppercase;
	font-size: 			2em;
	color:				#000000;
	text-align:			left;
	font-weight:		bolder;
	border-bottom:		6px solid #000;
}

thead tr th{
	color:				#0099ff;
	text-transform:		uppercase;
	text-align:			center;	
	padding:			0.4em 0;
	border-bottom:		3px solid #000;
}

tfoot th, tfoot td{
	border-top:			3px solid #000;
}
tr td, tr th{
	border-bottom:		1px solid #000;
	padding:			0.6em 0.4em;
	line-height:		1.5em;
}
tr.odd td, tr.odd th{
	background:url(tablebkg.jpg) top left repeat-x;
}

tbody th a{
	text-transform:uppercase;
}

tbody a, tbody a:link{
	color:			#FFFFff;
	font-weight:	bold;	
	text-decoration:none;
}
tbody a:active { color:#ff6633; background-color:#ff6633; text-decoration:none; }

tbody a:visited{
	color:			#FFFFFF;
}
tbody a:hover {color:#ffffff; font-weight:bold; text-decoration:underline; }
}

.xmpcode { border-width:10px; border-style:solid; border-color:#EEEEEE; background-color:#FFFFE0; }

.code { background-color:#FFFFE0; }

.tabxpl { background-color:#E4EEFF; }

.doc { background-color:#EEEEEE; }

.nav { background-color:#FFEEDD; }

.qbar { background-color:#FFFFE0; font-size:13px; font-family:Arial,sans-serif; }

.blue { color:#0000C0; }

pre.normal { color:#000000; }

a:link { color:#FFFFFF; text-decoration:none; }

a:visited { color:#FFFFFF; text-decoration:none; }

a:hover {color:#ffffff; font-weight:bold; text-decoration:underline; }

a:active { color:#ff6633; background-color:#ff6633; text-decoration:none; }

a.an { text-decoration:none; }

.unicode { font-size:15px; font-family:Arial Unicode MS,Arial,sans-serif }

ins { color:#009900; font-weight:bold; text-decoration:none; }

del { color:#990000; font-weight:bold; text-decoration:line-through; }
