html,body,content,article {
	width:100%;
	height:100%;
	overflow:visible;
}

body {
	z-index: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100.01%;
	font-weight: normal;
	color: #808080;
	background-color: #FFFFFF;
	margin-top: 50px;
	margin-bottom:50px;
	padding: 5px;
	overflow:visible;
}
p {
	font-size: 0.9em;
	font-weight: normal;
	
}

header > div#menu{
	
}
header{
	z-index: 2;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	margin-bottom:15px;
	margin-left:200px;
	width:790px;
	height:170px;
	
}
article {
	
	position: relative;
	top: 10%;
	width: 65%;
	left: 15%;
	margin-top: 0px;
	
}
aside {
	position: fixed;
	float: left;
	top: 10%;
	width: 15%;
	padding: 5px;
	
}
article > div#main {
	text-align: justify;
	float: left;
	width: 70%;
	padding: 1%;
	o
}
article > div#subside {
	float: left;
	width: 25%;
	padding: 1%;
	
}


div table	{
	border-style: none;
	background: none;
	border:none;
}
div table tr{

header {
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;
	height: 10%;
	position: fixed;
	top: 0.5%;
	width: 100%;
}


	
	
footer {
	font-size: 1.1em;
	font-weight: bolder;
	text-align: center;
	text-shadow: 3px;
	height: 5%;
	margin-left:70px;
	font-family: "Lucida Console", "Courier New";
	bottom: 1px;
	width: 100%;
}

table {
	background: #BDBDBD;
	border: #FFFFFF;
	border-style: double;
}
th {
	background: #BDBDBD;
}
td {
	border-style: solid;
	border-radius: 2;
}