div {
	width: 300px;
	height: 120px;
	border: dashed 3px #eeeeee;
	color: red;
	font-weight:bold;
	text-align: right;
}

div#div1 {
	background-color: #662211;
	text-align: left;
	margin:300px;
}
div#div2 {
	position:fixed;
	margin: 200px;
	background-color: #00FF00;
	padding: 20px;
}
div#main{
	background-color: #000;
}

a#div2 {
	font-weight:lighter;
	color: #FFCC55;
}

a{
	color:#EEEEEE;

}
header{
	background-color: yellow;
	font-weight:bolder;
	text-align:center;
	height: 50px;
	position:fixed;
	top:2px;
	width:100%;
}
footer{
	background-color: yellow;
	font-weight:bolder;
	text-align:center;
	text-shadow: 3px;
	height: 20px;
	font-family:"Lucida Console", "Courier New";
	position:fixed;
	bottom:10px;
}
#sections{
	float: left;
	border: 1px solid #000000;
	border-radius: 7px;
	width:112px;
	margin-left:300px;
}
aside
{
	position:fixed;
	top:80px;
	left:10px;
	width:20%;
	background-color:lightblue;
}
