.loading {
	color:#21536A; 
	font-family:Verdana;
	font-size: 11px; 
	background-color:#F5F6F6; 
	padding:4px;
}
#SwitchMenu{
	width: 150px;
	background-color: #F3F9FE;
}
.menuOut {
	cursor:pointer; 
	color: #21536A;
	border: 1px solid;
	background-color: #EAEEEE;
	padding: 4px;
	font-family:Verdana;
	font-size: 11px;
	border-color: #FEFEFE #C3C8CB #C3C8CB;
	margin: 0px;
	text-decoration: none;
	padding-left:3px;
}
.menuOver {
	cursor:pointer;
	color: #21536A;
	border: 1px solid;
	background-color: #DDEEFF;
	padding: 4px;
	font-family:Verdana;
	font-size: 11px;
	border-color: #C3C8CB #C3C8CB #FEFEFE #C3C8CB;
	margin: 0px;
	text-decoration: none;
	padding-left:3px;
}

.menuSelected {
	cursor:pointer; 
	color: #21536A;
	border: 1px solid;
	background-color: #DDEEFF;
	padding: 4px;
	font-family:Verdana;
	font-size: 11px;
	border-color: #FEFEFE #C3C8CB #C3C8CB;
	margin: 0px;
	text-decoration: none;
	padding-left:3px;
}

.submenu {
	font-family:Verdana;
	font-size: 10px;
	padding-top:3px; 
	padding-bottom:4px; 
	padding-left:20px;
	border-right: 1px solid #C3C8CB;
	border-left: 1px solid #C3C8CB;
	border-bottom: 1px solid #C3C8CB;
}
.submenu a {
	color:#21536A; 
	text-decoration:none;
	font-family:Verdana;
	font-size: 10px;
}
.submenu a:hover {
	color:#0066CC; 
	text-decoration:none; 
	font-family:Verdana;
	font-size: 10px;
}
.subMenuSelected {
	color:#CC0000; 
	text-decoration:none; 
	font-family:Verdana;
	font-size: 10px;
}